.panda_header{
	color: white;
	text-align: center;
}

body{
	background-color: black;
}

nav{
	color: red;
	/*display: inline-block;*/
	/*float: left;*/
	/*margin: 0px 500px;*/
}

a{
	display: inline-block;
	float: left;
	margin: 0px 50px;
}

button{
	float: left;
	background-color: red;
	color: white;
	font-weight: bold;
	margin-right: 50px;
}

li{
	list-style: none;
	display: inline-block;
}

ul{
	border: 2px solid white;
	text-align: center;
	clear: left;
	/*border-bottom: 2px solid white;*/
}